# Google Apps Script Web App URL for submitting CAPA Requests
VITE_GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzKLHPein0HNe66KRPsWAB5_C62pHOSGAKTIDP7_zmvZ_iu5HG-oqrX2AQkQZLsFiF-/exec
